body{
    margin: 0px;
    min-height: 100vh;
    padding-left: 0px;
    padding-bottom: 40px;
}
main {
    padding: 10px;
}
img {
    height: 200px;
}
nav {
    border-bottom: 2px solid black;
    padding: 16px;
    background-color: red;
}
a {
    text-decoration: none;
    color: darkblue;
}
footer {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0px;
    border-top: 2px solid black;
    background-color: greenyellow;
    color: darkblue;
    position: fixed;
    bottom: 0;
    min-width: 100%;
    /* max-width: 100%; */
    max-height: 100px;
    /* margin-top: 0; */
}
h1 {
    font-weight: bold;
}
h2 {
    font-weight: bold;
}
div {
    font-weight: bold;
}
th {
    font-weight: bold;
    color: darkblue;
}

.star-rating input {
    display:none;
}
.star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Verdana;
    font-size: 30px;
    font-weight: normal;
    color: orange;
    transition: 0.2s ease;
}
.star-rating label:hover {
    color: #ff69b4;
    transition: 0.2s ease;
}
.star-rating label:active::before {
    transform: scale(1.1);
}
.star-rating label::before {
    content: '\2606';
    top: 0px;
    line-height: 26px;
}
.star-rating input:checked ~ label:before {
    content: '\2605';
}
.star-rating {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
}


.ingredients-table {
    border-collapse: collapse;
    width: auto;
}
.ingredients-table td, .ingredients-table th {
    border: 1px solid black;
    padding: 4px
}
.ingredients-table tr:nth-child(even) {
    background-color: greenyellow;
}
.ingredients-table tr:hover {
    background-color: darkblue;
    color: yellow;
}
.ingredients-table th {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: left;
    background-color: #ff69b4;
    color: darkblue;
    font-weight: 900;
}

#main-tag {
    text-decoration: none;
    color: white;
}

.steps {
    text-align: left;
    padding-left: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* .wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
} */
